---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador ",
    description:
      " Responsabilidades:Desarrollo de microservicios utilizando Java y el framework Spring Boot. Gestión de mensajería a través de Kafka. Envío de mensajería masiva utilizando AMQ Streams y su visualización en Kibana. Logros: Implementación exitosa de microservicios. Escalado de mensajería con AMQ Streams. Despliegue efectivo en ambientes previos y de producción.",   
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Septiembre 2022",
    title: "Principal Frontend Engineer  − Adevinta Spain",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
